{% extends 'base.html' %}

{% block content %}
<h2>Add Maintenance Schedule</h2>

<form method="POST">
    {% csrf_token %}

    <select name="vehicle" class="form-control mb-2" required>
        <option value="">-- Select Vehicle --</option>
        {% for v in vehicles %}
            <option value="{{ v.id }}">{{ v }}</option>
        {% endfor %}
    </select>

    <input type="date" name="service_date" class="form-control mb-2" required>

    <textarea name="description" class="form-control mb-2" placeholder="Description"></textarea>

    <button class="btn btn-success">Save</button>
</form>
{% endblock %}