{% extends "base.html" %}

{% block content %}
<h2>Add Vehicle</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="number_plate" placeholder="Number Plate" required><br><br>

    <input type="text" name="model" placeholder="Model" required><br><br>

    <input type="number" name="year" placeholder="Year" required><br><br>

    <select name="status">
        <option value="active">Active</option>
        <option value="maintenance">Under Maintenance</option>
        <option value="inactive">Inactive</option>
    </select><br><br>

    <button type="submit">Save Vehicle</button>
</form>

{% endblock %}