{% extends 'base.html' %}

{% block content %}

<h2>Welcome, {{ user.username }}</h2>

<p>Role: {{ user.role }}</p>

<hr>

{% if user.role == 'admin' %}

    <h3>Admin Panel</h3>
    <a href="/vehicles/">Manage Vehicles</a><br>
    <a href="/drivers/">Manage Drivers</a><br>
    <a href="/loans/">Manage Loans</a><br>

{% else %}

    <h3>Driver Panel</h3>
    <a href="/loans/">My Loans</a><br>
    <a href="/maintenance/">My Maintenance</a><br>
    

{% endif %}

<br><br>
<a href="{% url 'logout' %}">Logout</a>

{% endblock %}