{% extends 'base.html' %}

{% block content %}
<h2>Send Daily Collection</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="reference" placeholder="Reference"
           class="form-control mb-2" required>

    <input type="number" name="amount" placeholder="Amount"
           class="form-control mb-2" required>

    <input type="text" name="phone_number" placeholder="Phone Number"
           class="form-control mb-2" required>

    <button class="btn btn-success">Send Payment</button>
</form>

{% endblock %}