{% extends 'base.html' %}

{% block content %}

<h2>Loans</h2>

{% if request.user.role == 'ADMIN' %}
<a href="{% url 'create_loan' %}" class="btn btn-primary mb-3">Issue Loan</a>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Driver</th>
            <th>Amount</th>
            <th>Purpose</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for l in loans %}
        <tr>
            <td>{{ l.driver.username }}</td>
            <td>KSh {{ l.amount }}</td>
            <td>{{ l.purpose }}</td>
            <td>{{ l.status }}</td>
            <td>{{ l.due_date }}</td>
            <td>
                <a href="{% url 'loan_detail' l.id %}" class="btn btn-info btn-sm">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}